body {
    background-color: rgb(0, 0, 0);
}

#myVideo {
    width: 100%;
    height: 100%;
    z-index: 1;
   
}

.homepageheader {
    filter: blur(0px);
    font-size: 200%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Banner {
    background-color: #c9c19f;
    height: 750px;
    text-align: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#advertisment {
    width: 100%;
    padding-bottom: 5%
}

/* 81726A 68534D C9C19F EDF7D2 9AD2C */



.container video {
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}
.overlay img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videohead {
    margin: 5px 0 0 1px;
}

.logo {
    margin-top: -155px;
}

.card-img-top {
    object-fit: contain;
    height:400px;
}

.container-fluid {
    position: relative;
    width: 100%;
}


/* .img-overlay {
    position: absolute;
    top: 75%;
    left: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(43, 184, 0);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
} */

.img-overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
  }
  .img-overlay .h1 {
    
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
  }
  .img-overlay .btn{
    background-color: rgb(43, 184, 0);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 20%;
    margin-left: 25%;
  }
  
.img-overlay .btn:hover {
    background-color: black;
    color: white;
    transition: ease .6s;

}

.hover {
    background-color: black;
    color: white;
    transition: ease .6s;
}

.column {
    float: left;
    width: 50%;
    line-height: 125px;
    font-size: 250%;
    font-family: cursive;
    background-color: #68534D;
    border: ridge 3px;
    border-color: #9ad2cf;
}
.column {
  
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#plsbeeven {
    width: 100%;
    Height: Auto;
}

ul {
    display: inline-block;
}

ul li {
    display: inline-block;
}

.Overlay {
    position: absolute;
    top: 50%;
    font-size: 200%;
}

.page1 {
    
    background-color:#68534D;
}
.Menu{
    height: 300%;
    Width:300%;
}
hr{
    padding: 30px;
}
.headertab{
    font-size: 200%;
    text-align: center;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c9c19f;
}
.fixed {
    position: fixed;
    top: 150px;
}
#overlay{
    position: absolute;
    top: 100px;
    width: 640px;
    padding: 10px 0;
    z-index: 2147483647;
}
/* about */
#about{
    background-color: #68534D;
}

#about .pic{
    height: 600px;
    background: url("https://www.jute.coffee/wp-content/uploads/2018/08/rsz_1tina-guina-639046-unsplash-2048x1024.jpg") fixed no-repeat center;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #68534D;
}

#about .box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
#Philosophy{
    transition: ease-in;
}
#Menu{
    transition: ease-in;
}
#Reviews{
    transition: ease-in;
}
#Staff{
    transition: ease-in;
}
.menu img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
.menu{
    background-color: #81726A;
}
.padder{
    background-color: #81726A;
    height: 100px;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
.hello{
    height: 300px;
}
footer a:hover{
    color: #f15025;
}